html {
  scroll-behavior: smooth;
}
.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Dropdown menu mặc định bị ẩn */
.dropdown-menu {
  visibility: hidden; /* Ban đầu ẩn */
  opacity: 0; /* Ban đầu không nhìn thấy */
  margin-top: 20px; /* Ban đầu đặt margin-top là 20px */
  transition:
    visibility 0s 0.3s,
    opacity 1.3s ease,
    margin-top 0.7s ease;
}

/* Hiển thị dropdown menu khi hover vào dropdown */
.dropdown:hover .dropdown-menu {
  visibility: visible; /* Khi hover, menu sẽ hiển thị */
  opacity: 1; /* Khi menu hiển thị, opacity trở thành 1 */
  margin-top: 0; /* Khi hover, margin-top sẽ về 0 */
  transition:
    visibility 0s 0s,
    opacity 1.3s ease,
    margin-top 0.7s ease; /* Đảm bảo menu hiển thị ngay lập tức */
}

/* Các style khác */
.dropdown {
  font-size: 16px;
}

/* Các phần tử slide-in */
.slide-in-left,
.slide-in-right,
.slide-in-up {
  opacity: 0;
  transition:
    transform 1s ease-out,
    opacity 1s ease-out;
}

/* Chữ slide từ trái */
.slide-in-left {
  transform: translateX(-40vw);
  /* Bắt đầu từ ngoài màn hình bên trái */
  line-height: 60px;
  font-size: 40px;
}

/* Chữ slide từ phải */
.slide-in-right {
  transform: translateX(40vw);
  /* Bắt đầu từ ngoài màn hình bên phải */
  line-height: 20px;
  font-size: 13px;
}

/* Nút phóng to và trượt từ dưới */
.slide-in-up {
  transform: translateY(50vh);
  /* Bắt đầu từ dưới màn hình */
  font-size: 10px;
}

/* Khi phần tử hiển thị */
.show {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
  /* Quay về vị trí và kích thước bình thường */
}

/* Sau khi hiệu ứng slide hoàn tất, thay đổi font-size */
.slide-in-left.show {
  transition:
    transform 1s ease-out,
    opacity 1s ease-out,
    font-size 0.2s ease-in 1s;
  /* Thêm delay 1s cho font-size */
  font-size: 70px;
  /* Kích thước font lớn cho slide-in-left */
}

.slide-in-right.show {
  transition:
    transform 1s ease-out,
    opacity 1s ease-out,
    font-size 0.2s ease-in 1s;
  /* Thêm delay 1s cho font-size */
  font-size: 22px;
  /* Kích thước font lớn cho slide-in-right */
}

.slide-in-up.show {
  transition:
    transform 1s ease-out,
    opacity 1s ease-out,
    color 0.3s ease,
    font-size 0.2s ease-in 1s;
  /* Thêm delay 1s cho font-size */
  font-size: 16px;
  /* Kích thước font lớn cho slide-in-up */
}
