<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideNav</title>
    <link rel="stylesheet" href="css/company_home.css" />
  </head>
  <body>
    <div
      class="fixed left-0 top-0 w-64 h-full bg-[#5A6C57] z-50 sidebar-menu transition-transform"
    >
      <div class="flex justify-center bg-[#525B44] p-[7px]">
        <img
          src="https://bizweb.dktcdn.net/100/469/097/themes/882205/assets/logo.png?1705898809027"
          alt=""
          class="w-[120px]"
        />
      </div>
      <ul class="mt-4 px-4">
        <span class="text-[#D3F1DF] font-bold">EMPLOYEE</span>
        <li class="mb-1 group">
          <a
            href="/company-home"
            class="flex font-semibold items-center py-2 px-4 text-white hover:bg-[#85A98F] hover:text-[#525B44] rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <i class="ri-home-2-line mr-3 text-lg"></i>
            <span class="text-sm">Dashboard</span>
          </a>
        </li>
        <li class="mb-1 group">
          <a
            href=""
            class="flex font-semibold items-center py-2 px-4 text-white hover:bg-[#85A98F] hover:text-[#525B44] rounded-md"
          >
            <i class="ri-bill-line mr-3 text-lg"></i>
            <span class="text-sm">Quản lý hoá đơn</span>
          </a>
        </li>
        <li class="mb-1 group">
          <a
            href="/company-food-revenue"
            class="flex font-semibold items-center py-2 px-4 text-white hover:bg-[#85A98F] hover:text-[#525B44] rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="mr-3 w-[18px]"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
              />
            </svg>

            <span class="text-sm">Lập thẻ khách hàng</span>
          </a>
        </li>
        <li class="mb-1 group">
          <a
            href="/company-food-revenue"
            class="flex font-semibold items-center py-2 px-4 text-white hover:bg-[#85A98F] hover:text-[#525B44] rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="mr-3 w-[18px]"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0 1 12 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0h7.5c.621 0 1.125.504 1.125 1.125M3.375 8.25c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m17.25-3.75h-7.5c-.621 0-1.125.504-1.125 1.125m8.625-1.125c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M12 10.875v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125M13.125 12h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125M20.625 12c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5M12 14.625v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 14.625c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m0 1.5v-1.5m0 0c0-.621.504-1.125 1.125-1.125m0 0h7.5"
              />
            </svg>

            <span class="text-sm">Quản lý bàn</span>
          </a>
        </li>
        <li class="mb-1 group">
          <a
            href="/company-food-revenue"
            class="flex font-semibold items-center py-2 px-4 text-white hover:bg-[#85A98F] hover:text-[#525B44] rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100"
          >
            <i class="ri-restaurant-2-fill mr-3 text-lg"></i>

            <span class="text-sm">Phiếu đặt món</span>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"
    ></div>
  </body>
</html>
